@import "../bower_components/compass-mixins/lib/compass";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$black: rgb(0, 0, 0);
$gold: rgb(210, 181, 62);
$white: rgb(255, 255, 255);
$light-gray: #dbdbdb;
$dark-gray: #d3d3d3;

$sub-menu-height: 48px;

// Breakpoints
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$mobile-only: max-width $tablet-portrait - 1;
$tablet-portrait-only: $tablet-portrait $tablet-landscape - 1;
$tablet-landscape-only: $tablet-landscape $desktop - 1;

.horizontal-menu {
  position: relative;
  z-index: 1;
  @include legacy-pie-clearfix;
  height: $sub-menu-height;
  opacity: 0;
  overflow: hidden;
  @include transition(all 0.3s);
  &.hm-has-init {
    opacity: 1;
    overflow: visible;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    &.hm-open {
      > li.hm-current > ul {
        bottom: -1 * $sub-menu-height !important;
      }
    }
  }
  li {
    display: block;
    float: left;
    &.hm-item-has-children {
      position: relative;
      > a:after {
        display: block;
        position: absolute;
        bottom: 17px;
        right: 5px;
        content: '\203A';
        font-size: 0.7em;
        line-height: 0.8em;
        @include rotate(90deg);
      }
    }
  }
  a {
    display: block;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    &:focus {
      outline: none;
    }
    &.active {
      color: $gold;
    }
  }
  .hm-active-trail a {
    color: $gold;
  }
}


// menus
ul#hm-primary-bar {
  position: relative;
  float: left;
  margin-left: 15px;
  &:before {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 1000px;
    height: 48px;
    content: "";
    background: $black;
  }
  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 1000px;
    height: 48px;
    content: "";
    background: $black;
  }
  position: relative;
  li {
    &:hover > a {
      color: $gold;
    }
    > a {
      z-index: 1;
      padding: 13px 20px;
      font-size: 18px;
      background: $black;
    }
  }
}

// sub-menus
ul.hm-sub-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  @include box-sizing(border-box);
  width: 100vw;
  min-height: $sub-menu-height;
  margin-left: 23px;
  &:before {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: $sub-menu-height;
    width: 200%;
    content: "";
  }
  &.hm-sub-bar-even {
    background: $light-gray;
    &:before {
      background: $light-gray;
    }
  }
  &.hm-sub-bar-odd {
    background: $dark-gray;
    &:before {
      background: $dark-gray;
    }
  }
  li {
    display: inline-block;
    float: none;
  }
  a {
    font-size: 14px;
    color: $black;
    padding: 14px 12px;
    text-transform: none;
    &.active,
    &:focus,
    &:hover {
      color: $white;
    }
  }
}

.hm-current {
  > a {
    position: relative;
    color: $gold;
  }
  > ul {
    display: block !important;
    z-index: -1;
    &:before {
      position: absolute;
      left: -100%;
      height: $sub-menu-height;
      background: $gold;
      content: '';
      width: 100%;
    }
  }
}
